<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        body{
          margin-bottom:60px;
        }
        body > .container{
          padding:60px 15px 0;
        }
  </style>
</head>
<body>
  <div class="container">
    <div class="page-header">
      <h1>Board</h1>
    </div>
    <div class="pull-right" style="width:100px;">
        <td th:if="${session.greeting}!=null"><a href="doLogout" class="btn btn-primary btn-block">로그아웃</a></td>
        <td th:if="${session.greeting}==null"><a href="/author/login" class="btn btn-primary btn-block">로그인</a></td>
    </div>
    <div class="pull-right" style="width:100px;">
      <a href="/post/list" class="btn btn-primary btn-block">게시판</a>
    </div>
    <div class="pull-right" style="width:100px;">
      <a href="/author/list" class="btn btn-primary btn-block">회원관리</a>
    </div>
    <div class="pull-right" style="width:100px;">
      <a href="/author/createform" class="btn btn-primary btn-block">회원가입</a>
    </div>
      <br/>
      <br/>
    <div class="pull-right" style="width:200px;">
      <td th:text="${session.greeting}"></td>
    </div>
  </div>
</body>
</html>
